    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Mission</h2>
                <p class="intro-text">Technology brings bounty to the rich, while more than half of the world lacks basic access to the internet. The only way to fix that inequity is with an intersectional analysis that targets the root causes of these disparities. All human beings have a right to communicate freely, openly, and securely, regardless of their sex, gender, race, or class. Technological liberation is rooted in grass-roots action, open source code, and the tools to keep people safely in touch, whomever they may be.<br>
                <h2>Who We Are</h2>
                    <p> We are a small, horizontally organized team that seeks the change the world from the bottom up, using their privilege to better the world. If you would like to get involved, scroll down for our contact information.
            </div>
        </div>
    </section>
