    <!-- Contribute Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">    
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p>If you want to get in touch to become a part of it or you just want to give a helpfull tip then send us an email at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
                    <p>
                        Not a fan of email?<br>Don't worry you can reach to us on <a href="{{ site.social.github }}">Github</a> as well. 
                    </p>
                </div>
            </div>
        </div>    
    </section>
