    <!-- Footer -->
    <footer>
      <section class="container">
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <ul class="footer-list">
                <li><a href="/#about">About</a></li>
                <li><a href="/#contribute">Contact</a></li>
                <li><a href="/#contribute">Contribute</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-lg-offset-2">
              <ul class="footer-list">
                <li><a href="/meta">Guidelines Wiki</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/license">Software Licenses</a></li>
              </ul>
            </div>
          </div>
          <p class="p-small">All original content available under <a href="/license/GPLv3">GPLv3</a>. All other content available under <a href="/license">their respective licenses</a>.</p>
          <p class="p-small">Compiled, Created, and Distributed under GPLv3 &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
        </div>
      </section>
    </footer>
