  <footer id="footer" class="content-section text-center">
      <div class="footer-section">
          <div class="container footer-list-container">
              <div class="col-lg-8 col-lg-offset-2">
                  <div class="col-sm-4 col-sm-offset-2">
                    <ul class="footer-list">
                      <li><a href="/#about">About</a></li>
                      <li><a href="/#contribute">Contact</a></li>
                      <li><a href="/resources">Resources</a></li>
                    </ul>
                  </div>
                  <div class="col-sm-4 col-sm-offset-2">
                    <ul class="footer-list">
                      <li><a href="/meta">Guidelines</a></li>
                      <li><a href="/blog">Blog</a></li>
                      <li><a href="https://github.com/thenextbilliononline/">Software</a></li>
                    </ul>
                  </div>
              </div>
          </div>
          <p class="p-small">All original content available under <a href="/license/GPLv3">GPLv3</a>. All other content available under <a href="/license">their respective licenses</a>.</p>
          <p class="p-small"> &copy; {{ site.footer }} 20{{ site.time | date: '%y' }}</p>
      </div>
  </footer>
