     <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                        <div class="col-md-8">
                            <a class="animated-text" href="/"><img src="/img/animatedtext.gif" height=95% width=95% > </a>
                        </div>
                        <div class="col-md-4">
                            <div class="flt-right">
                                <a class="brand-heading-link" href="/"><h1 class="brand-heading" id="brand-name">The<br>next<br>billion<br><span style="color:#ebb717;">Online</span></h1></a>
                                <a href="#about" class="page-scroll">
                                    <span class="top-line"></span>
                                    <p class="learn-more">LEARN MORE</p>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </header>
