    <!-- Download Section -->
    <section id="resources" class="content-section text-center">
        <div class="resources-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Resources</h2>
                    <div class="col-sm-4 col-sm-offset-0">
                      <div class="resource-copy">
                        <p>Do you want to learn something? The wiki contains everything you need to know to code, build, and expand the internet.</p>
                      </div>
                      <a href="https://github.com/thenextbilliononline/thenextbillion.online/wiki" class="btn btn-default btn-lg mini-resource-section-button"><i class="fa fa-wikipedia-w fa-fw"></i> <span class="network-name">Wiki</span></a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                      <div class="resource-copy">
                        <p>We do case studies, weekend hacks, and discuss policy positions. Check here for our complete thoughts.</p>
                      </div>
                      <a href="/blog/" class="btn btn-default btn-lg mini-resource-section-button"><i class="fa fa-rss fa-fw"></i> <span class="network-name">Blog</span></a>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                      <div class="resource-copy">
                        <p>Do you like to hack? Do you like to code? Check out this neat collection of useful software (including this website)</p>
                      </div>
                      <a href="https://github.com/thenextbilliononline" class="btn btn-default btn-lg mini-resource-section-button"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
