    <!-- Download Section -->
    <section id="Resources" class="content-section text-center">
        <div class="resources-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Resources</h2>
                    <p>We maintain a wiki, educational resources, and a code base so that you can focus on deploying and using the technology that is important to you. </p>
                    <a href="https://github.com/thenextbilliononline/wiki" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>
