.p-small {
  font-size: 16px;
}

.footer-list {
  list-style-type: none;
  text-align: left;
}


li {
  font-size: 16px;
}

ul {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 15px;
}

.btn-resource {
  margin: 10px;
}

.header-circle-button {
  margin-top: 30px;
}

body {
  background-color: #3e486d;
}

a {
  color: #94abff;
}

a:hover {
  color: #94abff;
  text-decoration: underline;
}

.btn-default {
  background-color: #e9f5f7;
}

.btn-default:hover {
  background-color: white;
}

.btn-default:active {
  background-color: #8da2ef;
  color: white;
}

.top-nav-collapse {
  background-color: #3e486d;
}

.content-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

#resources {
  background-color: #233150;
}

@media (min-width: 800px) {
  .resource-copy {
    min-height: 160px;
  }
}

.mini-resource-section-button {
  margin-bottom: 30px;
}

.resource-mini-section {
  margin-top: 15px;
}
