.navbar-custom {
  background-color: #90704d;
}

h2 {
  color: #ebb600;
}

h1 {
  font-family: Lora, Times New Roman, serif;
}

.page-scroll {
  text-decoration: none;
}

.brand-heading-link, .brand-heading-link:hover, .brand-heading-link:active {
  color: white;
  text-decoration: none;
}


.p-small {
  font-size: 16px;
}

.footer-list {
  list-style-type: none;
  text-align: left;
  margin-bottom: 0;
}

.footer-list-container {
  margin-bottom: 30px;
}


li {
  font-size: 16px;
}

ul {
  margin-bottom: 30px;
}

h4 {
  margin-bottom: 15px;
}

.btn-resource {
  margin: 10px;
}

.header-circle-button {
  margin-top: 30px;
}

body {
  background-color: #90704d;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
}

a {
  color: #ebb600;
  text-decoration: underline;
}

a:hover {
  color: #d1b967;
  text-decoration: underline;
}

.btn-default {
  background-color: #ebb600;
  color: white;
  border: 1px solid white;
}

.btn-default:hover {
  background-color: white;
  color: white;
}

.btn-default:active {
  background-color: #8da2ef;
  color: white;
}

.resource-logo {
  color: #8a7b67;
}

.top-nav-collapse {
  background-color: #90704d;
}

.content-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

#resources, #footer {
  background-color: #907858;
}

@media (min-width: 800px) {
  .resource-copy {
    min-height: 160px;
  }
}

.mini-resource-section-button {
  margin-bottom: 30px;
  text-decoration: none;
}

.resource-mini-section {
  margin-top: 15px;
}
