<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include nav.html %}
  {% include header.html %}
    <section class="container content-section">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
              <ul class="blog-posts-container">
  		{% for post in site.posts %}
     		 {{ post.excerpt }}
		<a href="{{ post.permalink }}">more...</a>
		<br></br>
		<br></br>
		{% endfor %}
	       </ul>
		<ul>
		<div class="sidebar">
			<h3> Papers: </h3>
  			<!-- {% for post in site.posts %} -->
   				<li>
      					<!-- <a href="{{ post.url }}">{{ post.title }}</a> -->

              <a href="url">link text</a>

                The relationship between <a href=" " >  Internet Access and Poverty </a>
              
              <a href="https://thenextbilliononline.github.io/world-map/"> A global analysis </a> of internet infrastructure.
    				</li>
  		{% endfor %}
		</ul>
		</div>
        </div>
    </section>
  {% include footer.html %}
  {% include js.html %}
  </body>
</html>
