<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% include nav.html %}
  {% include header.html %}
    <section class="container content-section">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
              <ul class="blog-posts-container">
  		{% for post in site.posts %}
     		 {{ post.excerpt }}
		<a href="{{ post.permalink }}">more...</a>
		<br></br>
		<br></br>
		{% endfor %}
	       </ul>
		<ul>
		<div class="sidebar">
			<h3> Papers: </h3>
  			
   				<li>                        
              <a href="https://thenextbilliononline.github.io/world-map/"> A global analysis </a> of internet infrastructure.
    				
            </li>
          <li>
            The relationship between <a href="https://thenextbilliononline.github.io/data/ " >  Internet Access and Poverty </a>
          </li>
		</ul>
		</div>
        </div>
    </section>
  {% include footer.html %}
  {% include js.html %}
  </body>
</html>
